@model ECommerceSystem.Shared.DTOs.User.UserDTO
@{
    ViewData["Title"] = "Thêm người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Thêm người dùng</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success">Tạo</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">Hủy</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
